//utilities main

%mt-0 {
  margin-top: 0;
}

%m-0 {
  margin: 0;
}

%m-5 {
  margin: 5px;
}

%t-0 {
  top: 0;
}

%pl-55 {
  padding-left: -10px;
}

%ml-20 {
  margin-left: -15px;
}

%flex {
  display: flex;
}

%f-row {
  flex-flow: row;
}

%f-col {
  flex-flow: column;
}

%space-between {
  justify-content: space-between;
}

%w-max {
  width: 100%;
}
