@import './modules/utilities';
@import './modules/colors';
@import 'mixins';
@import 'animations';

.btn {
  cursor: pointer;
}

.nav_top--menu_btn {
  margin-left: 15px;
}

.nav_sidebar--animated-left {
  animation: moveAside 1s ease;
  max-width: 0;
}

.nav_sidebar--animated-right {
  max-width: 258px;
  animation: moveAsideRev 1s ease;
}

.animNormal {
  @include transform(rotate(90deg));
  animation: rotateBtn 1s ease;
}

.animReverse {
  @include transform(rotate(180deg));
  animation: rotateBtnRev 1s ease;
}

.divStretch {
  //animation: divStretch 1s ease;
  min-width: 100%;
  transition: min-width 1s;
}

.divShrink {
  //animation: divStretch 1s ease;
  min-width: calc(100% - 258px);
  transition: min-width 1s;
}

.height-expand {
  animation: height-expand .4s ease;
  border: 0;
  min-height: 32px;
}

.height-shrink {
  animation: height-shrink .4s ease;
  border: 0;
  min-height: 0;
}

.btn--user,
.btn--notification,
.btn--task,
.btn--mail {
  border-bottom: 2px solid $white-color;
  position: relative;
  z-index: 2;
  &:hover {
    border-bottom: 2px solid $black-color;
  }
  
}

.btn_dropdown {
  display: none;
  max-height: 0;
}

.dropdown_wrapper {
  background-color: $white-color;
  border-bottom: 1px solid $greyish-color;
  border-left: 1px solid $greyish-color;
  border-radius: 0 0 2px 2px;
  border-right: 1px solid $greyish-color;
  cursor: pointer;
  margin-top: 5px;
  margin-left: -168px;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 3;
}

.dropdown_wrapper--element {
  border-bottom: 1px solid $grey-color;
  max-height: 70px;
}

.info--top {
  @extend %flex, %f-row, %w-max;
  font-size: 15px;
  margin-top: -10px;
}

.info--left {
  width: 50%;
  &:hover {
    color: $blue-color;
  }
}

.info--right {
  width: 50%;
  font-style: italic;
  color: $red-color;
}

.info--message {
  font-size: 13px;
  margin-top: -20px;
}

.btn--settings {
  border-bottom: 1px solid $greyish-color;
}

.options--mark {
  &:hover {
    color: $blue-color;
  }
}
