@import './modules/utilities.scss';
@import './modules/colors.scss';
@import 'mixins.scss';
@import 'animations.scss';

.btn {
  cursor: pointer;
}

.nav_top--menu_btn {
  margin-left: 15px;
}

.nav_sidebar--animated-left {
  max-width: 0;
  animation: moveAside 1s ease;
}

.nav_sidebar--animated-right {
  max-width: 258px;
  animation: moveAsideRev 1s ease;
}

.animNormal {
  @include transform(rotate(90deg));
  animation: rotateBtn 1s ease;
}

.animReverse {
  @include transform(rotate(180deg));
  animation: rotateBtnRev 1s ease;
}

.divStretch {
  min-width: 100.5%;
  margin-left: -8px;
  animation: divStretch 1s ease;
}

.divShrink {
  min-width: calc(100% - 245px);
  animation: divStretch 1s ease;
}

.height-expand {
  animation: height-expand .4s ease;
  min-height: 32px;
}

.height-shrink {
  animation: height-shrink .4s ease;
  min-height: 0;
}

.btn--user {
  &:nth-child(1) {
    position: relative;
    border-bottom: 2px solid $white-color;
    z-index: 2;
    &:hover {
      border-bottom: 2px solid $black-color;
    }
  }
}

.btn_dropdown {
  max-height: 0;
  display: none;
}

.dropdown_wrapper {
  position: absolute;
  z-index: 3;
  margin-left: -110px;
  width: 150px;
  background-color: $white-color;
  border-right: 1px solid $black-color;
  border-left: 1px solid $black-color;
  border-bottom: 1px solid $black-color;
  border-radius: 0 0 10px 10px;
  text-align: center;
  cursor: pointer;
}
