@import './modules/utilities.scss';
@import './modules/colors.scss';

.wrapper {
  @extend %w-max;
  font-family: 'Open Sans', sans-serif;
  max-height: 100%;
}

main {
  background-color: $yellow-color;
  width: calc(100% - 251px);
  order: 2;
  z-index: 1;
}

.content-wrapper {
  @extend %flex, %f-row, %w-max;
  height: calc(100% - 35px);
}

body {
  @extend %m-0;
}
