@import './modules/utilities.scss';
@import './modules/colors.scss';
@import 'mixins.scss';

ul {
  @extend %ml-20;
  list-style-type: none;
}

li {
  min-height: 0;
}

.nav {
  @extend %flex;
  line-height: 28px;
}

.nav_top {
  @extend %t-0, %f-row, %space-between, %w-max;
  box-shadow: 0 8px 6px -6px $greyish-color;
  height: 35px;
  margin-left: -8px;
  margin-top: -8px;
}

.nav_top--left {
  @extend %flex, %f-row;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.nav_top--right {
  @extend %flex, %f-row, %space-between;
  align-items: center;
  width: 30%;
}

.nav_sidebar {
  @extend %f-col;
  color: $white-color;
  min-width: 250px;
  margin-top: 10px;
}

.sidebar {
  padding-right: 10px;
  border-top: 1px solid $white-color;
  border-bottom: 1px solid $white-color;
  div {
    @extend %flex, %space-between, %centered;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      @include rgba(bg, $grey-color, .7);
    }
  }
}

.sidebar--dropdown {
  @extend %flex, %f-col;
    background-color: $black-color;
    margin-right: -8px;
    display: none;
    div {
      display: none;
    }
}

a {
  text-decoration: none;
}

.logo {
  background-color: $red-color;
  height: 35px;
  width: 258px;
}

.nav_sidebar--wrapper {
  background-color: $grey-color;
  height: 98%;
  margin-left: -8px;
  padding-left: 8px;
  margin-right: 0;
  order: 1;
}
