@import './modules/utilities';
@import './modules/colors';
@import 'mixins';

ul {
  @extend %ml-20;
  list-style-type: none;
}

li {
  min-height: 0;
}

.nav {
  @extend %flex;
  line-height: 28px;
}

.nav_top {
  @extend %t-0, %f-row, %space-between, %w-max;
  border-bottom: 1px solid $greyish-color;
  height: 35px;
}

.nav_top--left {
  @extend %flex, %f-row;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.nav_top--right {
  @extend %flex, %f-row, %space-between;
  align-items: center;
  width: 40%;
}

.nav_sidebar {
  @extend %f-col;
  color: $white-color;
  min-width: 250px;
  margin-top: 10px;
}

.sidebar {
  padding-right: 10px;
  border-bottom: 1px solid $white-color;
  div {
    @extend %flex, %space-between, %centered;
    cursor: pointer;
    line-height: 40px;
    &:hover {
      color: $red-color;
    }
  }
}

.sidebar--dropdown {
  @extend %flex, %f-col;
  background-color: $black-color;
  display: none;
  margin-right: -8px;
}

a {
  text-decoration: none;
}

.logo {
  background-color: $red-color;
  height: 35px;
  text-align: center;
  width: 258px;
  img {
    max-height: 30px;
    padding-top: 5px;
  }
}

.nav_sidebar--wrapper {
  background-color: $grey-color;
  height: 100%;
  margin-right: 0;
  order: 1;
  padding-left: 8px;
}
