@media screen and (min-width: 320px) {
  .mail { margin-left: -185px;}
  .task { margin-left: -220px;}
}

@media screen and (min-width: 375px) {
  .mail { margin-left: -219px;}
  .task { margin-left: -250px;}
}

@media screen and (min-width: 425px) {
  .mail { margin-left: -249px;}
}
